extends base
block content
  main.main.main--flex-column
    +b.block-wrapper--f-grow1.pv-2.xl-pv-7.d-flex
      .container
        .error-content.tac
          p 404
          p PAGE NOT FOUND
          +b.A.main-btn--bg-green.--w300(href="#") Home