extends base
block content
  main.main
    .block-wrapper.xs-tac.pt-2.pb-2.md-pv-4(style="background-color:#0079bf;")
      .container
        +b.top-content-row
          +e.el
            h1.h1 Using PayPal at a UK Online Casino
            .slide-text-wrapper.mt-1
              +b.slide-content--xl-h-auto(style="max-height:100px;")
                p.white-text On the market for 10 years now, the Bitcoin has surely established itself as a leading online payment method worldwide. Unsurprisingly, this cryptocurrency found its way to the best Bitcoin casino UK sites and has become a preferred deposit method among players. Easy to use, guarantees anonymity and with low processing fees, the Bitcoin surely comes with a long list of benefits. Therefore, we have decided to provide our readers with a list of top Bitcoin casinos in case they want to give this deposit method a chance. Making an online casino Bitcoin deposit not only is safe and cheap, but also instant. Hence, the number of Bitcoin online casinos for real money is constantly on the grow. Consequently, gamblers around the world are always on the lookout for the best Bitcoin gambling sites. Well, in order to help them save their time and effort, we have created the ultimate guide on Bitcoin as a casino payment method.
                +b.UL.arrow-list.mt-2
                  - for(let i = 0; i < 3; i++)
                    +e.LI.item
                      p.white-text Guides about the different online casino banking options available.
              +b.BUTTON.js-all-text--xl-d-none(type="button", data-default="Read more", data-nodefault="Hide", data-click="true") Read
          +e.el--xs-d-none-xl
            .img-wrap
              img(data-src="./../static/img/pay.png", loading="lazy", alt="bg")
    +b.block-wrapper--bg-light-gray.pv-2
      .container
        h2.h2.tac.mb-2 10+ Best PayPal Casinos 2019
        +b.UL.game-cards-list.mt-2
          - for(let i = 1; i < 4; i++)
            +e.LI.item
              +b.one-game
                +e.el--lg-w30
                  +e.row
                    +e.el-logo
                      +b.casino-logo(style="background-color:#000000;")
                        +e.A.link(href="#", data-pid="", target="_blank")
                        +e.img
                          .img-wrap
                            img(src="./../static/img/casino-logo.png", alt="ss")
                        +e.counter-wrapper
                          +e.SPAN.counter!= i
                    +e.el-stars
                      +e.row--column
                        +e.A.title(href="#", data-pid="", target="_blank") Casino Novibet
                        +e.stars
                          stars(stars-number="5", url="/wp-admin/", stars-type="page" counter="234", stars-id="3")
                +e.el--lg-w45
                  +e.row
                    +e.el-price-inner
                      +e.row--column
                        +e.SPAN.light 100 % up to
                        +e.P.price £ 500
                        +e.SPAN.light 100 % up to
                    +e.el-list
                      +b.UL.marks-list
                        -for(let d = 0; d < 3; d++)
                          +e.LI.item New, Modern Casino
                +e.el--lg-w25
                  +e.row--lg-jc-end
                    +e.row--column.--btn-side
                      +b.A.main-btn--bg-green.--w100(href="#", data-pid="", target="_blank") Play now
                      +e.A.link(href="#", data-pid="", target="_blank") www.novibet.com/casino
    +b.block-wrapper--bg-light-gray.pv-2.lg-pb-6
      .container
        .nav-slider-wrapper
          +b.nav-slider.slider-settings.ph-3
            .slider-wrapper
              +e.item
                +e.A.link.js-smooth-link(href="#payments") Payments Overview
            .slider-wrapper
              +e.item
                +e.A.link.js-smooth-link(href="#deposit") How to Deposit?
            .slider-wrapper
              +e.item
                +e.A.link.js-smooth-link(href="#withdraw") How to Withdraw?
            .slider-wrapper
              +e.item
                +e.A.link.js-smooth-link(href="#alternatives") Alternatives
            .slider-wrapper
              +e.item
                +e.A.link.js-smooth-link(href="#faq") FAQ
            .slider-wrapper
              +e.item
                +e.A.link.js-smooth-link(href="#next") Next
        .slide-container.mt-3(id="deposit")
          +b.H2.blue-title--slashed How to Deposit?
            .slash
          +b.slide-text-wrapper--gradient.mt-1
            +b.slide-content(style="max-height:115px;")
              p On the market for 10 years now, the Bitcoin has surely established itself as a leading online payment method worldwide. Unsurprisingly, this cryptocurrency found its way to the best Bitcoin casino UK sites and has become a preferred deposit method among players. Easy to use, guarantees anonymity and with low processing fees, the Bitcoin surely comes with a long list of benefits. Therefore, we have decided to provide our readers with a list of top Bitcoin casinos in case they want to give this deposit method a chance. Making an online casino Bitcoin deposit not only is safe and cheap, but also instant. Hence, the number of Bitcoin online casinos for real money is constantly on the grow. Consequently, gamblers around the world are always on the lookout for the best Bitcoin gambling sites. Well, in order to help them save their time and effort, we have created the ultimate guide on Bitcoin as a casino payment method.
            +b.BUTTON.js-all-text--purple.--d-flex(type="button", data-default="Read more", data-nodefault="Hide", data-click="true") Read
        .slide-container.mt-3(id="withdraw")
          +b.H2.blue-title--slashed How to Withdraw?
            .slash
          +b.slide-text-wrapper--gradient.mt-1
            +b.slide-content(style="max-height:115px;")
              p On the market for 10 years now, the Bitcoin has surely established itself as a leading online payment method worldwide. Unsurprisingly, this cryptocurrency found its way to the best Bitcoin casino UK sites and has become a preferred deposit method among players. Easy to use, guarantees anonymity and with low processing fees, the Bitcoin surely comes with a long list of benefits. Therefore, we have decided to provide our readers with a list of top Bitcoin casinos in case they want to give this deposit method a chance. Making an online casino Bitcoin deposit not only is safe and cheap, but also instant. Hence, the number of Bitcoin online casinos for real money is constantly on the grow. Consequently, gamblers around the world are always on the lookout for the best Bitcoin gambling sites. Well, in order to help them save their time and effort, we have created the ultimate guide on Bitcoin as a casino payment method.
            +b.BUTTON.js-all-text--purple.--d-flex(type="button", data-default="Read more", data-nodefault="Hide", data-click="true") Read
        +b.H2.blue-title--slashed.mt-2 New PayPal Casinos
          .slash
        +b.UL.game-cards-list.mt-2
          - for(let i = 1; i < 4; i++)
            +e.LI.item
              +b.one-game
                +e.el--lg-w30
                  +e.row
                    +e.el-logo
                      +b.casino-logo(style="background-color:#000000;")
                        +e.A.link(href="#", data-pid="", target="_blank")
                        +e.img
                          .img-wrap
                            img(src="./../static/img/casino-logo.png", alt="ss")
                        +e.counter-wrapper
                          +e.SPAN.counter!= i
                    +e.el-stars
                      +e.row--column
                        +e.A.title(href="#", data-pid="", target="_blank") Casino Novibet
                        +e.stars
                          stars(stars-number="5", url="/wp-admin/", stars-type="page" counter="234", stars-id="3")
                +e.el--lg-w45
                  +e.row
                    +e.el-price-inner
                      +e.row--column
                        +e.SPAN.light 100 % up to
                        +e.P.price £ 500
                        +e.SPAN.light 100 % up to
                    +e.el-list
                      +b.UL.marks-list
                        -for(let d = 0; d < 3; d++)
                          +e.LI.item New, Modern Casino
                +e.el--lg-w25
                  +e.row--lg-jc-end
                    +e.row--column
                      +b.A.main-btn--bg-green.--w100(href="#", data-pid="", target="_blank") Play now
                      +e.A.link(href="#", data-pid="", target="_blank") www.novibet.com/casino
        .slide-container.mt-3(id="alternatives")
          +b.slide-text-wrapper--gradient.mt-1
            +b.slide-content(style="max-height:115px;")
              p On the market for 10 years now, the Bitcoin has surely established itself as a leading online payment method worldwide. Unsurprisingly, this cryptocurrency found its way to the best Bitcoin casino UK sites and has become a preferred deposit method among players. Easy to use, guarantees anonymity and with low processing fees, the Bitcoin surely comes with a long list of benefits. Therefore, we have decided to provide our readers with a list of top Bitcoin casinos in case they want to give this deposit method a chance. Making an online casino Bitcoin deposit not only is safe and cheap, but also instant. Hence, the number of Bitcoin online casinos for real money is constantly on the grow. Consequently, gamblers around the world are always on the lookout for the best Bitcoin gambling sites. Well, in order to help them save their time and effort, we have created the ultimate guide on Bitcoin as a casino payment method.
            +b.BUTTON.js-all-text--purple.--d-flex(type="button", data-default="Read more", data-nodefault="Hide", data-click="true") Read
        +b.H2.blue-title--slashed.mt-2 FAQ
          .slash
        +b.UL.list-accordion.mt-2(data-hide="true", id="faq")
          -for (let i = 0; i<6; i++)
            +e.LI.item--shadow.--margined
              +e.question-wrapper--bg-white.js-item
                +e.P.title--purple How to ...
                +e.plus-wrapper
                  +e.SPAN.plus--green.icon-plus-thin.visible
                  +e.SPAN.plus--green.icon-minus-thin.disabled
              +e.answer-wrapper
                +e.content
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

