.brand-info
  background $color-white
  box-shadow 0 0 15px rgba(0, 0, 0, 0.12)
  border-radius 5px
  margin 20px 0
  padding 20px

.brand-info-title
  margin-bottom 20px
  text-align center
  +lg()
    text-align left

.brand-info-logo
  display flex
  align-items center
  justify-content center
  width 100%
  height 140px
  border-radius 5px
  padding 15px
  &__
    &img
      width 100%
      height 100%
      object-fit contain


.brand-bonuses
  background-color $grey-opacity
  padding 20px 30px
  width 100%
  display flex
  flex-direction column
  justify-content center
  align-items center

  form
    width 100%
    margin-top 20px 