.breadcrumbs-wrapper
  background $purple-2

.breadcrumbs
  color $color-white
  padding 14px 0
  font-size 13px
  font-weight 400
  display flex

.breadcrumbs-link
  color $color-white
  text-decoration underline
  &:hover
    text-decoration none

.breadcrumbs-current
    opacity 0.7

.breadcrumb-sep
  margin 0 10px
  display flex
  align-items center