.filters-body
  width 100%

.chips
  display flex
  border-radius 5px
  background-color $grey-opacity
  padding 18px
  width 100%
  &__
    &title
      color $main-gray
      font-size 16px
      font-weight 400
      margin-right 15px
      min-width 100px
      height 46px
      display flex
      align-items center
      &--
        &no-items
          font-weight 600
    &items
      display flex
      flex-wrap wrap
    &bonus
      height: 36px
      border-radius 18px
      border 1px solid $grey-5
      padding 0 10px
      display flex
      align-items center
      margin 5px
      font-size 14px
      font-weight 400
      &--
        &clear-all
          color $main-red
          border 1px solid $main-red
          .chips
            &__
              &remove
                &:hover
                  color $main-gray
    &remove
      margin-right 5px
      cursor pointer
      transition 0.3s
      &:hover
        color $main-red