table
  border-collapse: collapse
  font-weight 500
  font-size 1.5rem
  tr:nth-child(1)
    td, th
      background-color $light-blue
      color #fff
    .noLink
      color $color-white
  th, td
    padding 10px 15px
    border 2px solid #ccc
  th
    background-color $light-blue
    color #fff
  td
    background-color #fff
    color #000

  