$main-green = #5aac44
$purple-dark = #090b34
$purple-light = #132968
$purple-light-2 = #6c7690
$light-blue = #0079bf
$light-blue-2 = #0e92de
$light-blue-3 = #006ba9
$light-blue-4 = #00a0fc
$main-orange = #ffae00
$orange2 = #ff7917
$main-red = #d61717
$secondary-orange = #ff6000
$main-gray = #333333
$color-white = #fff
$color-black = #0000
$purple-dark-2 = #0f124b
$purple-dark-3 = #1a1b28
$purple-dark-opacity = #0f124b66
$grey = #96a2be
$grey-2 = #d9d7d7
$placeholder = #6e6e6e
$red = #f31818
$red-3 = #c91515
$purple-2 = #016eb1
$yellow = #ffde00
$green-opacity = #eff9ec
$red-opacity = #f9f2f2
$grey-opacity = #f9f9f9
$grey-3 = #9c9363
$grey-4 = #fafafa
$grey-5 = #e6e6e6
$grey-6 = #a5a5a5
$tooltip-color = #fef2b8
$color-checked = #727c98

$color-twitter = #26a6d1
$color-linkedin = #0e76a8
$color-mail = #ff8a00


$footer-dark-color = #161722
