@font-face
	font-family: "svgfont"
	src: url('./../css/svgfont.eot')
	src: url('./../css/svgfont.eot?#iefix') format('embedded-opentype'), 
			 url('./../css/svgfont.woff') format('woff'),
			 url('./../css/svgfont.woff2') format('woff2'),
			 url('./../css/svgfont.ttf') format('truetype')
	font-weight: normal
	font-style: normal
	font-display: swap

$icon-facebook2= "\EA01"
$icon-instagram= "\EA02"
$icon-twitter-square= "\EA03"
$icon-youtube-square= "\EA04"
$icon-search= "\EA05"
$icon-mail= "\EA06"
$icon-menu-arrow= "\EA07"
$icon-arrow= "\EA08"
$icon-subarrow= "\EA09"
$icon-checkmark= "\EA0A"
$icon-spinner11= "\EA0B"
$icon-cross= "\EA0C"
$icon-minus-thin= "\EA0D"
$icon-plus-thin= "\EA0E"
$icon-left-arrow= "\EA0F"
$icon-email= "\EA10"
$icon-marker= "\EA11"
$icon-user= "\EA12"
$icon-check= "\EA13"
$icon-caret-right= "\EA14"
$icon-like= "\EA15"
$icon-minus= "\EA16"
$icon-pluse= "\EA17"
$icon-close= "\EA18"
$icon-cheked= "\EA19"
$icon-linkedin= "\EA1A"
$icon-twitter= "\EA1B"
$icon-pluse-2= "\EA1C"
$icon-minus-2= "\EA1D"
$icon-play-arrow= "\EA1E"
$icon-close-icon= "\EA1F"
$icon-arrow-2= "\EA20"
$icon-cheked-filters= "\EA21"
$icon-remove= "\EA22"
$icon-calendar= "\EA23"
$icon-user-circle= "\EA24"
$icon-checkmark-outline= "\EA25"
$icon-x-circle= "\EA26"


$icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.icon, [class^="icon-"], [class*=" icon-"]
	@extend $icon
	display: inline-block

.icon-facebook2:before
	content: $icon-facebook2
.icon-instagram:before
	content: $icon-instagram
.icon-twitter-square:before
	content: $icon-twitter-square
.icon-youtube-square:before
	content: $icon-youtube-square
.icon-search:before
	content: $icon-search
.icon-mail:before
	content: $icon-mail
.icon-menu-arrow:before
	content: $icon-menu-arrow
.icon-arrow:before
	content: $icon-arrow
.icon-subarrow:before
	content: $icon-subarrow
.icon-checkmark:before
	content: $icon-checkmark
.icon-spinner11:before
	content: $icon-spinner11
.icon-cross:before
	content: $icon-cross
.icon-minus-thin:before
	content: $icon-minus-thin
.icon-plus-thin:before
	content: $icon-plus-thin
.icon-left-arrow:before
	content: $icon-left-arrow
.icon-email:before
	content: $icon-email
.icon-marker:before
	content: $icon-marker
.icon-user:before
	content: $icon-user
.icon-check:before
	content: $icon-check
.icon-caret-right:before
	content: $icon-caret-right
.icon-like:before
	content: $icon-like
.icon-minus:before
	content: $icon-minus
.icon-pluse:before
	content: $icon-pluse
.icon-close:before
	content: $icon-close
.icon-cheked:before
	content: $icon-cheked
.icon-linkedin:before
	content: $icon-linkedin
.icon-twitter:before
	content: $icon-twitter
.icon-pluse-2:before
	content: $icon-pluse-2
.icon-minus-2:before
	content: $icon-minus-2
.icon-play-arrow:before
	content: $icon-play-arrow
.icon-close-icon:before
	content: $icon-close-icon
.icon-arrow-2:before
	content: $icon-arrow-2
.icon-cheked-filters:before
	content: $icon-cheked-filters
.icon-remove:before
	content: $icon-remove
.icon-calendar:before
	content: $icon-calendar
.icon-user-circle:before
	content: $icon-user-circle
.icon-checkmark-outline:before
	content: $icon-checkmark-outline
.icon-x-circle:before
	content: $icon-x-circle
