@import '_svgfont'


// Node Modules Css
@require '../../../node_modules/slick-carousel/slick/slick.css'


// @import abtracts
@import 'abstracts/_media'
// @import 'abstracts/_font-face'
@import 'abstracts/_variables'
@import 'abstracts/_helpers'



// @import vendor
@require 'vendor/hamburger-spin.css'
@require 'vendor/top-gradient.css'



// @import base
@import 'base/_reset'
@import 'base/_typography'


// @import layout
@import 'layout/_block-sections'
@import 'layout/_container'
@import 'layout/_header'
@import 'layout/_footer'
@import 'layout/_flex-row'


// @import components
@import 'components/_search-form'
@import 'components/_loader'
@import 'components/_mobile-menu'
@import 'components/_menu'
@import 'components/_btns'
@import 'components/_casino-card'
@import 'components/_game-card'
@import 'components/_scroll'
@import 'components/_blog-card'
@import 'components/_form'
@import 'components/_popup'
@import 'components/_table'
@import 'components/_transition'
@import 'components/_wpcf7-form'
@import 'components/_breadcrumbs'
@import 'components/_page-info'
@import 'components/_brand-info'
@import 'components/_brend-suggestions'
@import 'components/_tooltip'
@import 'components/_brand-general-information'
@import 'components/_page-intro'
@import 'components/_points'
@import 'components/_principles'
@import 'components/_filter-bonuses'
@import 'components/_chips'
@import 'components/_how-to-section'
@import 'components/_article-card'
@import 'components/_mini-reviews'
  

// @import Additional blocks style
@import 'additional-blocks'

  
// @import Shortcodes style
@import 'shortcodes'


// @import pages
@import 'pages/_home'
@import 'pages/_blog'
@import 'pages/_contact'
@import 'pages/_author'
@import 'pages/_about-us'