{% extends "templates/base.twig" %}

{% block content %}

<main class="main main--flex-column">
	<div class="block-wrapper block-wrapper--f-grow1 block-wrapper--d-flex pv-2 xl-pv-7">
		<div class="container">
			<div class="error-content tac">
				<p>404</p>
				<p>{{ __('Page Not Found', 'casino') }}</p><a class="main-btn main-btn--bg-green main-btn--w300" href="{{ site.link }}">Home</a>
			</div>
		</div>
	</div>
</main>

{% endblock %}